body{
    background-color: #fdfbf8;
    text-align: center;
}
img.personal{
    float: left;
}
.container{
    display: flex;
    align-items: center; 
}
.container > div{
    margin: 10px;
}
.container img {
    max-width: 40%; /* Set image size */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Adds space between the image and the text */
  }
  
h2{
    margin: 0;
}
.content {
    max-width: 6
    0%;
  }

button{
    border-radius: 15px;
    border: none;
    background: #6349d7;
    padding: 5%;
    width: fit-content;
    height: fit-content;
    color: white;
}