<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <form id="signup-form">
        <label for="name">Username:</label>
        <input type="text" name="name" id="name" required>
        <label for="email">BU email:</label>
        <input type="text" name="email" id="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="signup-button">Create Account</button>
    </form>
    <script src="../static/js/signup.js"></script>
</body>
</html>
